.container {
  /* background-color: bisque; */
  .h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: azure;
    font-size: 40px;
    font-weight: bold;
  }
  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .button {
    border: thick;
    font-size: 20px;
    margin: 5px;
  }
}
