.container {
  background-color: green;
  width: 100vw;
  height: 90px;
  position: relative;
}
.labelInput {
  padding: 5px;
  margin: 5px;
  .label {
    color: azure;
    font-size: 15px;
    font-weight: bold;
  }
  .input {
    border: thick;
    border-radius: 5px;
  }
}

.h1 {
  color: azure;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
